*.user
*.pubxml

/QuartzNetUI/Host/wwwroot
/QuartzNetUI/Host/DataProtection-Keys
/QuartzNetUI/Host/File
/QuartzNetUI/Host/bin
/QuartzNetUI/Host/obj
/QuartzNetUI/Host.Tests/obj
/QuartzNetUI/Host.Tests/bin
/QuartzNetUI/.vs

/QuartzNetWeb/node_modules
/QuartzNetWeb/dist

# compiled output
/dist
/dist-server
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db